{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <title>Tracker</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                {% comment %} {% for task in tasks_list %}
                    {% if task in tasks.tasks_list.count <= 1 %} {% endcomment %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Is completed</th>
                        </tr>
                        <tr>
                            <td>{{task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.end_date }}</td>
                            <td>{{ task.is_completed }}</td>
                        </tr>
                    </table>
                    <p>You have no tasks</p>
                {% comment %} {% else %}
            
            {% endif %} {% endcomment %}
            </div>
        </main>
    </body>
</html>